extend layout

block content
  - each img in files
    .img
      - if (user)
        a(href="/del/#{img}",class="delete")
          img(src="images/delete.png",title="Delete")
      img(src="up/#{img}",alt="#{img}",title="#{img}")
  form(method="post",action="multi",enctype="multipart/form-data",id="multidnd")
    input(type="file",id="multifile",name="multi[]",multiple="multiple")

block side
  .menu
    h3 Upload
    form(method="post",enctype="multipart/form-data")
      input(type="file", name="img")
      input(type="submit", value="Upload")