extend layout

block content
  - each img in files
    img(src="up/#{img}") 

block side
  .menu
    h3 Upload
    form(method="post",enctype="multipart/form-data")
      input(type="file", name="img")
      input(type="submit", value="Upload")