!!!5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      h1 #{title}
    nav
      block side
    .container
      - if (message || error)
        .alert= message
      .content
        block content
    footer
      p node / express / jade / stylus / passport
