@import url("http://fonts.googleapis.com/css?family=Chango|Fresca");
body
  margin: 0;
  padding: 0;
  font: 18px "Fresca", Helvetica, Arial, sans-serif;

a
  color: #00B7FF;

h1, h2, h3
  font-family: 'Chango', cursive, sans-serif;
  margin: 0;

header
  padding: 10px 20px;
  background-color: #242424;
  text-shadow: 0 0 30px #fff;

nav
  display: inline-block;
  padding: 10px 20px;
  background-color: #999;
  color: #000;
  width: 250px;

.container
  display: inline-block;

.content
  padding: 10px 20px;

footer
  padding: 0 20px;
  background-color: #242424;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #999;
